<main data-aos="fade" class="py-20">

  <!-- TÍTULO -->
  <div class="relative flex w-full items-center justify-center">
    <div class="absolute left-1/2 h-0.5 w-40 -translate-x-1/2 bg-stone-800 sm:w-64 lg:w-180"></div>

    <h2 class="absolute -top-6 left-1/2 -translate-x-1/2 bg-page px-4 text-3xl font-black text-stone-900 sm:text-4xl">
      {{ 'home.tarifas.sectionTitle' | transloco }}
    </h2>
  </div>

  <section data-aos="fade-up" class="mx-auto max-w-7xl px-6 py-16">

    <div class="grid items-start gap-8 lg:grid-cols-2">

      <!-- TARIFA DESTACADA -->

      <div
        class="shadow-card flex h-full flex-col rounded-2xl bg-purple-950 p-8 text-white shadow-lg shadow-neutral-600/80 transition-all duration-300">

        <span
          class="mb-5 w-fit rounded-full bg-amarillo px-4 py-1 text-sm font-bold text-purple-950 [box-shadow:0_0_8px_rgba(230,176,74,0.5)]">
          {{ ('home.tarifas.items.' + tarifas[0].slug + '.badge') | transloco }}
        </span>

        <h3 class="text-4xl font-black">
          {{ ('home.tarifas.items.' + tarifas[0].slug + '.title') | transloco }}
        </h3>

        <p class="mt-3 leading-7 text-white/80">
          {{ ('home.tarifas.items.' + tarifas[0].slug + '.description') | transloco }}
        </p>

        <div class="my-8 h-px bg-white/15"></div>

        <div class="space-y-3">

          @for (tarifa of tarifas[0].tarifas; track $index) {

          <div class="flex items-center justify-between rounded-lg bg-white/10 px-4 py-3">

            <span>
              {{ ('home.tarifas.items.' + tarifas[0].slug + '.tarifas.' + $index + '.concepto') | transloco }}
            </span>

            <span class="rounded-full bg-amarillo px-3 py-1 text-sm font-bold text-purple-950">
              {{ ('home.tarifas.items.' + tarifas[0].slug + '.tarifas.' + $index + '.precio') | transloco }}
            </span>

          </div>

          }

        </div>

        <a
          routerLink="presupuesto"
          class="mt-8 cursor-pointer rounded-xl bg-white py-3 font-bold text-purple-950 transition hover:bg-stone-100 duration-200 hover:shadow-md hover:shadow-purple-300 text-center">
          {{ ('home.tarifas.items.' + tarifas[0].slug + '.cta') | transloco }}
        </a>

      </div>

      <!-- TARIFAS SECUNDARIAS -->

      <div class="flex flex-col gap-8 justify-start h-full">

        @for (servicio of tarifas.slice(1, 4); track servicio.id) {

        <div
          class="rounded-xl bg-white p-5 shadow-md shadow-neutral-600/60 transition duration-300 hover:-translate-y-1 hover:shadow-lg">

          <div class="mb-4 flex items-center justify-between">

            <h3 class="text-lg font-bold text-stone-900">
              {{ ('home.tarifas.items.' + servicio.slug + '.title') | transloco }}
            </h3>

            <div class="h-2 w-2 rounded-full bg-purple-950"></div>

          </div>

          <div class="space-y-2">

            @for (tarifa of servicio.tarifas; track $index) {

            <div class="flex items-center justify-between rounded-md bg-stone-50 px-3 py-2">

              <span class="text-sm text-stone-700">
                {{ ('home.tarifas.items.' + servicio.slug + '.tarifas.' + $index + '.concepto') | transloco }}
              </span>

              <span class="font-bold text-purple-950">
                {{ ('home.tarifas.items.' + servicio.slug + '.tarifas.' + $index + '.precio') | transloco }}
              </span>

            </div>

            }

          </div>

        </div>

        }

      </div>

    </div>

    <!-- BOTÓN -->

    <div class="mt-16 flex justify-center">

      <a routerLink="tarifas"
        class="shadow-md shadow-black/80 group relative inline-flex items-center justify-center overflow-hidden rounded-xl bg-purple-950 px-10 py-4 text-lg font-bold text-white transition-all duration-300 hover:-translate-y-1 hover:bg-purple-950/90 hover:shadow-lg hover:shadow-black/80">

        <span
          class="absolute inset-0 -translate-x-full bg-linear-to-r from-transparent via-white/40 to-transparent transition-transform duration-700 group-hover:translate-x-full">
        </span>

        <span class="relative">
          {{ 'home.tarifas.finalCta' | transloco }}
        </span>

      </a>

    </div>

  </section>

</main>