<nav class="fixed top-0.5 z-50 w-full text-white">
  <div class="mx-auto flex w-350 items-center justify-between
    rounded-3xl
    border border-white/10
    bg-gradient-to-br from-[#1B0930]/70 via-[#10021C]/70 to-[#18062B]/70
    backdrop-blur-md
    px-8 py-2
    shadow-[0_10px_40px_rgba(16,2,28,.55)]
    before:absolute before:inset-0 before:rounded-3xl
    before:border before:border-white/5 before:pointer-events-none
    relative overflow-hidden">

    <!-- brillo superior -->
    <div class="absolute top-0 left-10 h-px w-40 bg-violet-400/50 blur-sm"></div>

    <a routerLink="/"><img src="/img/logo.png" alt="logo" class="w-12 h-12 rounded-full cursor-pointer
      ring-2 ring-violet-500/40
      shadow-lg shadow-violet-900/50
      hover:scale-105 transition" /></a>

    <ul class="flex items-center gap-7 text-[16px] font-medium">

      <li>
        <a routerLink="/" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}" class="relative transition hover:text-yellow-200
        after:bg-yellow-300
          after:absolute after:-bottom-1 after:left-0
          after:h-[2px] after:w-0
          after:transition-all hover:after:w-full">
          Inicio
        </a>
      </li>

      <li>
        <a routerLink="servicios" routerLinkActive="active" class="relative transition hover:text-yellow-200
        after:bg-yellow-300
          after:absolute after:-bottom-1 after:left-0
          after:h-[2px] after:w-0
          after:transition-all hover:after:w-full">
          Servicios
        </a>
      </li>

      <li>
        <a routerLink="tarifas" routerLinkActive="active" class="relative transition hover:text-yellow-200
after:bg-yellow-300
          after:absolute after:-bottom-1 after:left-0
          after:h-[2px] after:w-0
          after:transition-all hover:after:w-full">
          Tarifas
        </a>
      </li>

      <li>
        <a routerLink="obras" routerLinkActive="active" class="relative transition hover:text-yellow-200
after:bg-yellow-300
          after:absolute after:-bottom-1 after:left-0
          after:h-[2px] after:w-0
          after:transition-all hover:after:w-full">
          Obras
        </a>
      </li>

      <li>
        <a routerLink="sobre-nosotros" routerLinkActive="active" class="relative transition hover:text-yellow-200
after:bg-yellow-300
          after:absolute after:-bottom-1 after:left-0
          after:h-[2px] after:w-0
          after:transition-all hover:after:w-full">
          Sobre Nosotros
        </a>
      </li>

      <li>
        <a routerLink="preguntas-frecuentes" routerLinkActive="active" class="relative transition hover:text-yellow-200
after:bg-yellow-300
          after:absolute after:-bottom-1 after:left-0
          after:h-[2px] after:w-0
          after:transition-all hover:after:w-full">
          Preguntas
        </a>
      </li>

      <li>
        <a routerLink="contacto" routerLinkActive="active" class="relative transition hover:text-yellow-200
          after:absolute after:-bottom-1 after:left-0
          after:h-[2px] after:w-0 after:bg-yellow-300
          after:transition-all hover:after:w-full">
          Contacto
        </a>
      </li>

      <li>
        <a routerLink="presupuesto" class="rounded-xl bg-gradient-to-r from-yellow-600 to-yellow-600
          px-5 py-2 font-medium tracking-wider
          shadow-lg shadow-yellow-700/40
          transition-all hover:scale-105 hover:shadow-yellow-500/60 duration-200">
          Solicitar Presupuesto
        </a>
      </li>

    </ul>
  </div>
</nav>